<div>
    <input type="text" id="messageInput" placeholder="Escribe un mensaje">
    <button id="boton" onclick="sendMessage()">Enviar</button>
</div>

<div id="messageList"></div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>

